<div class="container">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                {{ title }}
            </div>
            <div class="card-body">
                <section class="container row justify-content-center">
                    <article>
                        <form class="was-validated" id="buyins-form" onsubmit="buyinSubmit({{ idSession }}); return false;" action="{{ action }}" method="post">
                            <input type="hidden" class="form-control" name="id" id="id" type="text" required="true">
                            <input class="form-control" name="idSession" id="idSession" type="hidden" required="true">
                            <div class="form-group">
                                <select class="custom-select" name="idUserSession" id="idUserSession" required="true">
                                    <option value="" disabled> --Seleccione un Jugador--</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="amountCash"> monto cash: </label>
                                <input class="form-control" name="amountCash" id="amountCash" type="number" placeholder="monto cash" required="true" step="50">
                            </div>

                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCash', 100); return false;">100</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCash', 200); return false;">200</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCash', 300); return false;">300</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCash', 400); return false;">400</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCash', 500); return false;">500</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCash', 1000); return false;">1000</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="amountCredit"> monto credito: </label>
                                <input class="form-control" name="amountCredit" id="amountCredit" type="number" placeholder="monto credito" required="true" step="50">
                            </div>

                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCredit', 100); return false;">100</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCredit', 200); return false;">200</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCredit', 300); return false;">300</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCredit', 400); return false;">400</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCredit', 500); return false;">500</button>
                                    <button type="button" class="btn btn-secondary" onclick="chargeAmount('amountCredit', 1000); return false;">1000</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hour"> hora: </label>
                                <input class="form-control" name="hour" id="hour" type="datetime-local" required="true">
                                <small id="hour" class="form-tet text-muted"> Fecha y hora </small>
                            </div>
                            <input class="form-control" name="approved" id="approved" type="hidden" required="true">
                            <input class="form-control" name="currency" id="currency" type="hidden" required="true">
                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" value="Enviar" />
                            </div>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>