<div class="container">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                {{ title }}
            </div>
            <div class="card-body">
                <section class="container row justify-content-center">
                    <article>
                        <form class="was-validated" id="comissions-form" onsubmit="comissionSubmit({{ idSession }}); return false;" action="{{ action }}" method="post">
                        
                            <input id="id" name="id" type="hidden" value="">
                            <input class="form-control" name="idSession" id="idSession" type="hidden" required="true" value="">
                            <div class="form-group">
                                <label class="sr-only" for="hour"> hora: </label>
                                <input class="form-control" name="hour" id="hour" type="datetime-local" required="true" value="">
                                <small id="hour" class="form-tet text-muted"> Fecha y hora </small>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="comission"> comission: </label>
                                <input class="form-control autofocus="true" name="comission" id="comission" type="number" autofocus="true" placeholder="Comission" required="true" value="">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" value="{{ buttonName }}" />
                            </div>
                            <br><br><br><br>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>