<div class="container">
    <div class="col-md-8">

        <div class="card">
            <div class="card-header bg-primary text-white">
                {{ title }}
            </div>
            <div class="card-body">
                <section class="container row justify-content-center">
                    <article>
                        <form class="was-validated" id="serviceTips-form" onsubmit="serviceTipSubmit({{ idSession }}); return false;" action="{{ action }}" method="post">

                            <input id="id" name="id" type="hidden">
                            <input name="idSession" type="hidden" id="idSession" type="text" required="true">
                            <div class="form-group">
                                <label for="hour"> hora: </label>
                                <input class="form-control" name="hour" id="hour" type="datetime-local" required="true">
                                <small id="hour" class="form-text text-muted"> Fecha y hora </small>
                            </div>
                            <div class="form-group">
                                <label for="servicetip"> serviceTip: </label>
                                <input class="form-control" name="serviceTip" id="serviceTip" placeholder="serviceTip" required="true" type="number">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" value="{{ buttonName }}" />
                            </div>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>