<div class="container">
    <div class="col-md-8">

        <div class="card">
            <div class="card-header bg-primary text-white">

                {{ title }}
            </div>
            <div class="card-body">
                <section class="container row justify-content-center">
                    <article>
                        <form class="was-validated" id="sessions-form" onsubmit="sessionSubmit(); return false;" action="{{ action }}" method="post">

                            <input type="hidden" class="form-control" name="id" id="id">
                            <div class="form-group">
                                <label for="title"> Title: </label>
                                <input class="form-control" name="title" id="title" type="text" placeholder="title" value="Mesa Mixta" required="true" autofocus="true">
                            </div>
                            <div class="form-group">
                                <label for="description"> Description: </label>
                                <input class="form-control" name="description" id="description" type="text" placeholder="description">
                            </div>
                            {# <!--<textarea rows="4" cols="50" name="description" form="">
							Descripcion...</textarea> --> #}
                            <div class="form-group">
                                <label for="date">Fecha de creación: </label>
                                <input class="form-control" name="date" id="date" type="date" placeholder="Fecha de creación" required="true">
                                <small id="end" class="form-tet text-muted"> Fecha </small>
                            </div>
                            <div class="form-group">
                                <label for="cashout"> Seats: </label>
                                <input class="form-control" name="seats" id="seats" type="text" placeholder="seats" required="true" value="9">
                            </div>
                            <div class="form-group">
                                <label for="horaInicio"> hora inicio: </label>
                                <input class="form-control" name="start_at" id="start_at" type="datetime-local" placeholder="hora de inicio" required="true">
                                <small id="end" class="form-tet text-muted"> Fecha y hora de inicio </small>
                            </div>

                            {# only in session in play or finished
                            <div class="form-group">
                                <label for="horaInicio"> hora inicio real: </label>
                                <input class="form-control" name="real_start_at" id="real_start_at" type="datetime-local" placeholder="hora de inicio real">
                                <small id="end" class="form-tet text-muted"> Fecha y hora de inicio real </small>
                            </div>
                            #}

                            {# only in finished session 
                            <div class="form-group">
                                <label for="end"> hora fin: </label>
                                <input class="form-control" name="end_at" id="end_at" type="datetime-local" placeholder="hora de fin">
                                <small id="end" class="form-tet text-muted"> Fecha y hora de finalización </small>
                            </div>
                            #}

                            <div class="form-group">
                                <label for="minimum_user_session_minutes"> Tiempo mínimo de juego: </label>
                                <input class="form-control" name="minimum_user_session_minutes" id="minimum_user_session_minutes" type="text" required="true" placeholder="Tiempo de juego mínimo">
                            </div>

                            <div class="form-group">
                              <label for="rakebackClass">Rakeback: Class</label>
                              <select class="form-control" name="rakebackClass" id="rakebackClass">
                                <option value="" disabled> --Seleccione Rakeback method--</option>
                              </select>
                            </div>

                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" value="{{ buttonName }}" />
                            </div>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>