<div class="container">
    <div class="col-md-8">

        <div class="card">
            <div class="card-header bg-primary text-white">
                {{ title }}
            </div>
            <div class="card-body">
                <section class="container row justify-content-center">
                    <article>
                        <form class="was-validated" action="{{ action }}" method="post">
                            <input class="form-control" name="id" id="id" type="hidden" value="" required="true">
                            <div class="form-group">
                                <label class="sr-only" for="lastname"> Apellido </label>
                                <input class="form-control" name="lastname" id="lastname" type="text" placeholder="Apellido" required="true" autofocus="true">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="firstname"> Nombre </label>
                                <input class="form-control" name="firstname" id="firstname" type="text" placeholder="Nombre" required="true" autofocus="true">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="username"> Jugador </label>
                                <input class="form-control" name="username" id="username" type="text" placeholder="Nombre de usuario" required="true" autofocus="true">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="mobile"> Celular </label>
                                <input class="form-control" name="mobile" id="mobile" type="text" placeholder="Teléfono" required="true">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="email"> E-mail </label>
                                <input class="form-control" name="email" id="email" type="text" placeholder="E-mail" required="true">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="multiplier"> Multiplier </label>
                                <input class="form-control" name="multiplier" id="multiplier" type="text" placeholder="multiplier" required="false">
                            </div>
                            <input class="form-control" name="password" id="password" type="hidden" required="true" value="">
                            <input class="form-control" name="active" id="active" type="hidden" required="true" value="">
                            <input class="form-control" name="sessions" id="sessions" type="hidden" required="true" value="">
                            <input class="form-control" name="hours" id="hours" type="hidden" required="true" value="">
                            <input class="form-control" name="points" id="points" type="hidden" required="true" value="">
                            <input class="form-control" name="results" id="results" type="hidden" required="true" value="">
                            <input class="form-control" name="cashin" id="cashin" type="hidden" required="true" value="">
                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" value="Enviar" />
                            </div>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>