<div class="container">
    <div class="col-md-8">

        <div class="card">
            <div class="card-header bg-primary text-white">
                {{ title }}
            </div>
            <div class="card-body">
                <section class="container row justify-content-center">
                    <article>
                        <form class="was-validated" id="usersession-form" onsubmit="userSessionSubmit({{ idSession }}); return false;" action="{{ action }}" method="post">

                            <input class="form-control" name="id" id="id" type="hidden" required="true">
                            <input class="form-control" name="idSession" id="idSession" type="hidden" required="true">
                            <input class="form-control" name="approved" id="approved" type="hidden" value="1">
                            <input class="form-control" name="points" id="points" type="hidden">

                            <div class="form-group">
                                <select multiple class="custom-select" name="users_id[]" id="users_id" required="true">
                                    <option value="" disabled> --Seleccione un Jugador--</option>
                                </select>
                            </div>

                            <input class="form-control" name="cashout" id="cashout" type="hidden">

                            {#
                            <!-- =getStarbyFirstBuyin()--> #}
                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" value="{{ buttonName }}" />
                            </div>
                        </form>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>